<div class="panel-heading">
  <h4>Information on topic: <span data-ref="label">{{label}}</span></h4>
</div>
<div class="panel-body">
  <dl>
    <div class="row">
      <dt class="col-sm-10">Total mentions</dt>
      <dd class="col-sm-2" data-ref="volume">{{volume}}</dd>
    </div>
    <hr />
    <div class="row">
      <dt class="col-sm-10">Positive mentions</dt>
      <dd class="col-sm-2" data-ref="positive">{{positive}}</dd>
    </div>
    <div class="row">
      <dt class="col-sm-10">Neutral mentions</dt>
      <dd class="col-sm-2" data-ref="neutral">{{neutral}}</dd>
    </div>
    <div class="row">
      <dt class="col-sm-10">Negative mentions</dt>
      <dd class="col-sm-2" data-ref="negative">{{negative}}</dd>
    </div>
  </dl>
</div>
